@model Okul.Models.Ogrenci

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ogrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--multipart yazdık çünkü hata verir ve bir data alacağımızı belirttik çoklu parça olarak yani resim için-->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyadi" class="control-label"></label>
                <input asp-for="Soyadi" class="form-control" />
                <span asp-validation-for="Soyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Okulno" class="control-label"></label>
                <input asp-for="Okulno" class="form-control" />
                <span asp-validation-for="Okulno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label><!--resim labeli-->
                <div class="custom-file">
                    <input type="file" asp-for="Dosya" class="custom-file-input" id="inputDosya" aria-describedby="inputDosya" /><!--dosya yükleme inputu-->
                    <label class="custom-file-label" for="inputDosya">Dosya Seçiniz...</label><!--bilgilendirme yazımız-->
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label><!--acıklama labeli-->
                <textarea asp-for="Aciklama" class="form-control " rows="5" > </textarea> <!--acıklama girilebilmesi için textarea-->
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
